@layers reset, base, utilities;

@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body,
    h1,
    p {
        margin: 0;
    }

    body {
        min-block-size: 100vh;
        line-height: 1.6;
    }

    h1,
    button {
        line-height: 1.1;
    }

    h1 {
        text-wrap: balance;
    }

    p {
        text-wrap: pretty;
    }

    img {
        max-inline-size: 100%;
        display: block;
    }

    button {
        font: inherit;
    }

}

@layer base {

    :root {
        /*Primitives*/

        /* Colors */
        --black: #35383f;
        --white: #ecedf0;
        --blue: #1f6fb0;
        --dark-blue: #404a65;
        --shadow-blue: #23649b;

        /* Typography */
        --font-family: "Kanit", sans-serif;

        /* Font-sizes */
        --font-size-sm: 1.250rem;
        --font-size-md: 1.500rem;
        --font-size-lg: 4.000rem;

        /* Spacing */
        --row-gap-sm: 1.2rem;
        --row-gap-md: 2.4rem;
        --row-gap-lg: 4.0rem;

        /*Border-Radius*/
        --border-radius-regular: 0.5rem;

    }

    /*Body Styles*/
    body {
        max-width: 1280px;
        margin: 0 auto;
        background-color: var(--dark-blue);
        color: var(--white);
    }

    /*Button Styles*/
    button {
        padding: 0.55rem 2.6rem;
        border: none;
        background-color: var(--blue);
        color: var(--white);
        border-radius: var(--border-radius-regular);
        cursor: pointer;
    }

    button:hover {
        background-color: var(--shadow-blue);
    }

    button:active {
        transform: scale(0.95);
        transition: transform 0.1s ease;
    }

    .coin {
        cursor: pointer;
    }

}

@layer utilities {

    /*Size*/
    .full-size {
        width: 100%;
        height: 100vh;
    }

    /*Layout*/
    .grid {
        display: grid;
    }

    /*Positions*/
    .place-center {
        place-items: center;
    }

    .text-center {
        text-align: center;
    }

    /*Row Gaps*/
    .row-gap-sm {
        row-gap: var(--row-gap-sm);
    }

    .row-gap-md {
        row-gap: var(--row-gap-md);
    }

    .row-gap-lg {
        row-gap: var(--row-gap-lg);
    }

    /*Font-Style*/
    .font-style {
        font-family: var(--font-family), sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    /*Font-Sizes*/
    .kanit-heading {
        font-size: 4rem;
    }

    .kanit-subheading {
        font-size: 1.5rem;
    }

    .kanit-button {
        font-size: 1.25rem;
        text-transform: uppercase;
    }

    /*Shadows*/
    .text-shadow {
        text-shadow: 2px 2px 0 var(--black);
        --webkit-text-stroke-width: 5px;
        --webkit-text-stroke-color: var(--black)
    }

    .button-shadow {
        box-shadow: 0 4px 0 0 var(--shadow-blue);
    }

}

@layer animation {
    @keyframes spin-coin {
        0% {
            transform: rotateY(0deg);
        }
        100% {
            transform: rotateY(1080deg);
        }
    }

    .flip-animation {
        animation: spin-coin 1s ease-in-out;
    }
}
